textarea {
    width: 80%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #d7d3d4;
    resize: none;
    padding-left: 5px;
    height: 85px;
}

.submit-container {
    display: block;
    text-align: center;
}
.btn-success {
    background-color: #cbc9ca;
    color: #fff;
    border-radius: 5px;
    padding: 10px 30px;
    border: none;
    max-width: 245px;
    width: 100%;
    margin: 15px 10px;
}